### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_players = purchase_data["SN"].nunique()
df_total_players = pd.DataFrame({"Total Players":[total_players]})
df_total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
num_unique_item = purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

df_purchase_analysis_tot = pd.DataFrame({"Number of Unique Items":[num_unique_item],"Average Price":[round(avg_price,2)],"Number of Purchases":[num_purchases],"Total Revenue":[total_revenue]})
df_purchase_analysis_tot.style.format({"Number of Unique Items":"{:,}","Average Price":"${:.2f}","Number of Purchases":"{:,}","Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#  total_male = purchase_data.groupby('Gender').SN.nunique()

total_male_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
total_male = total_male_df["SN"].nunique()

total_female_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
total_female = total_female_df["SN"].nunique()

total_other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
total_other = total_other_df["SN"].nunique()


                           
Percent_male = (total_male/total_players)*100
Percent_female = (total_female/total_players)*100
Percent_other = (total_other/total_players)*100
df_gender_demo = pd.DataFrame({"Total Count":[total_male,total_female,total_other],"Percentage of Players":[Percent_male,Percent_female,Percent_other]},index = ["Male", "Female","Other / Non-Disclosed"])
df_gender_demo.round(2)

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
purchase_count_male = total_male_df["Purchase ID"].count()
tot_purchase_value_male = total_male_df["Price"].sum()
avg_purchase_price_male = tot_purchase_value_male/purchase_count_male
avg_tot_purchase_per_person_male = tot_purchase_value_male/total_male

purchase_count_female = total_female_df["Purchase ID"].count()
tot_purchase_value_female = total_female_df["Price"].sum()
avg_purchase_price_female = tot_purchase_value_female/purchase_count_female
avg_tot_purchase_per_person_female = tot_purchase_value_female/total_female

purchase_count_other = total_other_df["Purchase ID"].count()
tot_purchase_value_other = total_other_df["Price"].sum()
avg_purchase_price_other = tot_purchase_value_other/purchase_count_other
avg_tot_purchase_per_person_other = tot_purchase_value_other/total_other

df = pd.DataFrame({"Purchase Count":[purchase_count_male,purchase_count_female,purchase_count_other],"Average Purchase Price":[avg_purchase_price_male,avg_purchase_price_female,tot_purchase_value_other],"Total Purchase Value":[tot_purchase_value_male,tot_purchase_value_female,avg_purchase_price_other]
                                     ,"Avg Total Purchase per Person":[avg_tot_purchase_per_person_male,avg_tot_purchase_per_person_female,avg_tot_purchase_per_person_other],"Gender":["Male","Female","Other / Non-Disclosed"]}).groupby(["Gender"])

df_purchase_analysis_gender = df.mean()
df_purchase_analysis_gender.style.format({"Purchase Count":"{:,}","Average Purchase Price":"${:.2f}","Total Purchase Value":
                                        "${:.2f}","Avg Total Purchase per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
bins = [0,9,14,19,24,29,34,39,50]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age_Bins"] = pd.cut(purchase_data["Age"], bins, labels =group_names )
purchase_data



total_count = purchase_data.groupby(["Age_Bins"])["SN"].nunique()
percent_of_players = round((total_count/total_players)*100,2)

percent_of_players

df_age_demo = pd.DataFrame({"Total Count":total_count,"Percentage of Players":percent_of_players})
df_age_demo

          Total Count  Percentage of Players
Age_Bins
<10                17                   2.95
10-14              22                   3.82
15-19             107                  18.58
20-24             258                  44.79
25-29              77                  13.37
30-34              52                   9.03
35-39              31                   5.38
40+                12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
total_purchase_count = purchase_data.groupby(["Age_Bins"])["Purchase ID"].count()
avg_purchase_price = purchase_data.groupby(["Age_Bins"])["Price"].mean()
avg_purchase_price = round(avg_purchase_price,2)
total_purchase_price = purchase_data.groupby(["Age_Bins"])["Price"].sum()
avg_purchase_per_person = round(total_purchase_price/total_count,2)

df_purchase_analysis_age = pd.DataFrame({"Purchase Count":total_purchase_count,"Average Purchase Price":avg_purchase_price
                                        ,"Total Purchase Value":total_purchase_price,"Avg Total Purchase per Person":
                                        avg_purchase_per_person})

df_purchase_analysis_age.style.format({"Purchase Count":"{:,}","Average Purchase Price":"${:.2f}","Total Purchase Value":
                                        "${:.2f}","Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [91]:
total_purchase_count = purchase_data.groupby(["SN"])["Purchase ID"].count()


avg_purchase_price = purchase_data.groupby(["SN"])["Price"].mean()
avg_purchase_price = round(avg_purchase_price,2)
total_purchase_price = purchase_data.groupby(["SN"])["Price"].sum()

df_top_spenders = pd.DataFrame({"Purchase Count":total_purchase_count,"Average Purchase Price":avg_purchase_price
                                ,"Total Purchase Value":total_purchase_price})
df = df_top_spenders.sort_values(["Total Purchase Value"], ascending = False).head(5)
df.style.format({"Purchase Count":"{:,}","Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [92]:
total_purchase_count = purchase_data.groupby(["Item ID","Item Name"])["Purchase ID"].count()
item_price = purchase_data.groupby(["Item ID","Item Name"])["Price"].max()
total_purchase_price = purchase_data.groupby(["Item ID","Item Name"])["Price"].sum()
df_most_popular_items = pd.DataFrame({"Purchase Count":total_purchase_count,"Item Price":item_price,"Total Purchase Value":total_purchase_price})
df = df_most_popular_items.sort_values(["Purchase Count"],ascending = False).head(5)
df.style.format({"Purchase Count":"{:,}","Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [93]:
df = df_most_popular_items.sort_values(["Total Purchase Value"],ascending = False).head(5)
df.style.format({"Purchase Count":"{:,}","Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})